html {
	height: 100%;
}

body {
	margin: 0 auto;
	width: 978px;
}

table {
	border-collapse: collapse;
	margin: 0px auto;
}

table td {
    padding: 20px;
    position: relative;
	border: 1px solid #c3c3c3;
}

td svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn {
	margin: 20px 0;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}

.btn-solve {
	background-color: #0C7D0C;
}

.btn-solve:HOVER {
	background-color: #119911;
}

.btn-input {
	background-color: #c3c3c3;
	color: #333;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;'
}

ul li {
	display: inline-block;
	margin-left: 5px;
}