<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="numberlink">
<head>
    <title>Numberlink</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://static-01.vndirect.com.vn/js/stockpickadmin/jquery.2.1.3.min.js"></script>
    <script src="https://static-01.vndirect.com.vn/js/stockpickadmin/angular.1.3.8.min.js"></script>
    <script th:src="@{/js/app.js?timestamp=@time_param@}"></script>
    <link th:href="@{/css/app.css?timestamp=@time_param@}" rel="stylesheet" media="screen" />
</head>
<body ng-controller="numberlinkController">
	<div><button class="btn btn-solve" ng-click="resolve();">Tìm đáp án</button></div>
	<ul>
		<li ng-repeat="input in inputs">
			<button class="btn btn-input" ng-bind="input" ng-click="load(input);"></button>
		</li>
	</ul>
	<div>
		<div>Thời gian : <span ng-bind="times"></span></div>
		<hr/>
		<div>Kết quả: <span ng-bind="result"></span></div>
		<table ng-if="!showResult">
	    	<tbody>
	    		<tr ng-repeat="cell in cells">
	    			<td ng-repeat="item in cell">
	    				<svg>
	    					<text x="15" y="25" fill="#333" ng-bind="item.value != 0 ? item.value : ''"></text>
	    				</svg>
	    			</td>
	    		</tr>
	    	</tbody>
	    </table>
	    <table ng-if="showResult">
	    	<tbody>
	    		<tr ng-if="sat" ng-repeat="cell in cells">
	    			<td ng-repeat="item in cell">
		    			<svg ng-if="item.value != 0">
				            <line ng-if="isUp(item);" x1="20" y1="0" x2="20" y2="10" style="stroke: #000; stroke-width:1" />
				            <line ng-if="isRight(item);" x1="25" y1="20" x2="40" y2="20" style="stroke: #000; stroke-width:1" />
				            <line ng-if="isDown(item);" x1="20" y1="40" x2="20" y2="30" style="stroke: #000; stroke-width:1" />
				            <line ng-if="isLeft(item);" x1="15" y1="20" x2="0" y2="20" style="stroke: #000; stroke-width:1" />
				            <text x="15" y="25" fill="#333" ng-bind="item.value"></text>
		          		</svg>
		    			<svg ng-if="item.value == 0">
				            <line ng-if="isUp(item);" x1="20" y1="0" x2="20" y2="20" style="stroke: #000; stroke-width:1" />
				            <line ng-if="isRight(item);" x1="20" y1="20" x2="40" y2="20" style="stroke: #000; stroke-width:1" />
				            <line ng-if="isDown(item);" x1="20" y1="40" x2="20" y2="20" style="stroke: #000; stroke-width:1" />
				            <line ng-if="isLeft(item);" x1="20" y1="20" x2="0" y2="20" style="stroke: #000; stroke-width:1" />
		          		</svg>
	    			</td>
	    		</tr>
	    	</tbody>
	    </table>
    </div>
</body>

</html>
